:root {
  --largeFont-size: 50px;
  --mediumFont-size: 30px;
  --purple-color: rgb(227, 188, 253);
}

body {
  justify-content: center;
  align-items: center;
  
}

.hidden {
  display: none;
}

/* main_page */
.main_page {
  /* border: solid 5px rgb(255, 18, 216); */
}
.main_header {
  font-size: var(--largeFont-size);
  letter-spacing: 11px;
  text-align: center;
  padding-top: 40px;
}

.main_list {
  list-style: none ;
  padding-left: 0px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}

.main_list li {
  border-style: outset;
  font-size: var(--mediumFont-size);
  margin: 20px;
  text-align: center;
  transition: background-color 0.6s;
} 
.main_list li:hover {
  background-color: var(--purple-color);
}
.main_list li:active {
  border-style: inset;
}

/* about_page */
.about_page {
  /* border: solid 5px rgb(255, 143, 38); */
}

.about_page > div {
}
.about_page h1 {
  text-align: center;
}

.about_main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about_img {
  text-align: center;
  margin: auto;
}

.about_profile {
  width: 75%;
  border-radius: 50px;
}

.about_motto, 
.about_resume {
  height: 50%;
}

.about_motto {
  font-size: 150%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  text-align: center;
}

.about_resume {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px;
}

.about_education {
  padding-right: 15px;
}

/* skill_page */
.skill_page {
  /* height: 100vh; */
  border: solid 5px rgb(68, 255, 50);
  text-align: center;
}

.skill_page img {
  width: 200px;
}

/* project_page */
.project_page {
  /* height: 100vh; */
  border: solid 5px rgb(33, 229, 255);
  text-align: center;
}

/* contact_page */
.contact_page {
  /* height: 100vh; */
  border: solid 5px rgb(6, 8, 1);
  text-align: center;
}

.contact_main h1 {
  margin: 10px;
}

.contact_main > div {
  border: black 1px solid;
}

.contact_main {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  padding: 50px;
}

.contact_means {
  text-align: start;
}

.contact_means div {
  border: 1px black solid;
}

.contact_means img {
  width: 33px; 
}

.links img{
  width: 100px;
}

/*  07.30 done-list  
    html: 전체 기본틀, main 간단히
    css: main_태그들 간단 변경  */

/*  08.01 done-list  
    html: make sub-pages
    css: menu hover action 
    js: when menu_list click, change brower */

/* 08.04 done-list
    css : add "about" grid

/* todo-list
    1. sub-page 내용 채워넣기
    2. home에 좌우 버튼 추가
    3. when change page, add animation */